on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    name: A job to say hello
    runs-on: ubuntu-latest

    steps:
      - name: Hello world action step
        id: hello
        uses: icomceptrobin/custom-action@0.0.1
        with:
          name: Nudelbaron

      - name: Get the output
        run: |
            echo "Greeting: ${{ steps.hello.outputs.greeting }}"
